@media only screen and (min-width: 375px) {
  main {
    margin: auto;
    height: auto;
  }
  .backStore {
    width: 10rem;
    height: 2rem;
    margin: 2rem;
    padding: .5rem;
    color: #fff;
    background-color: var(--color-primario);
    font-size: .6rem;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: .3rem;
    text-decoration: none;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primario);
    margin-bottom: 1rem;
  }
  
}