@media only screen and (min-width: 375px) {
  .headerMD {
    background-color: var(--color-primario);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbarL {
    display: none;
  }
  .brand {
    text-decoration: none;
  }
  .logo {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
  }
  
  .logo:hover {
    transform: scale(1.2);
  }
  .headerL {
    display: none;
  }
  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
  }
}
@media only screen and (min-width: 768px) {
  .headerMD {
    display: none;
  }

  .headerL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-secundario);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .innerHeader {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--color-secundario);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .navbarL{
    display: block;
  }
  .cartL {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }
  .cartL:hover {
    color: #fff;
    transform: scale(1.1);
    transition: .6s;
  }
}