@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

:root {
  --color-primario: #8083bb;
  --color-secundario: #6568A6;
  --color-sombreado: #7e82c511;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  font-family: 'Raleway', sans-serif;
}
.loading {
  animation: loading 2s infinite;
  margin: 3rem;
  width: 9rem;
  height: 9rem;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: translateY(-50%);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: translateY(0);
  }
}
.Toastify__toast {
  background-color: var(--color-primario);
  color: #fff;
  box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.1), 0 2px 15px 0 rgba(255, 255, 255, 0.05);
}