@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');
:root {
  --color-primario: #7e80c5;
  --color-secundario: #6667ab;
  --color-sombreado: #7e82c511;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  font-family: 'Raleway', sans-serif;
}
.notFound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  color: var(--color-primario);
  margin: 4rem;
}
.error {
  font-size: 4rem;
}
@media only screen and (min-width: 375px) {
  .headerMD {
    background-color: var(--color-primario);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerL {
    display: none;
  }
  .brand{
    text-decoration: none;
  } 
  .navbarL {
    display: none;
  }
  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
  }

  .logo {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
  }

  .logo:hover {
    transform: scale(1.2);
  }
  .menu {
    background-color: var(--color-secundario);
    height: 3rem;
    width: 100%;
    text-align: center;
  }
  .menu ul {
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .menu ul a {
    display: block;
    padding: .5rem;
  }
  .menu ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 100%;
    border: 1px solid var(--color-primario);
  }
  .menu ul li:hover{
    background-color: var(--color-primario);
  }
  .isActive{
    height: 3rem;
    width: 100%;
    background-color: var(--color-primario);
    border: 1px solid #fff;
    display: flex;
    align-items: center;
  }
  .menu ul li a {
    width: 100%;
    height: 3rem;
    color: #fff;
    font-size: .6rem;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  .menu ul ul {
    display: none;

  }
  .menu ul ul li {
    float: none;
    width: 100%;
    height: 3rem;
    background-color: var(--color-secundario);
    margin: 0;
    display: flex;
    align-items: center;
  }
  .menu ul li:hover > ul {
    display: block;
  }
  main {
    text-align: center;
    color: var(--color-primario);
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  section {
    color: var(--color-primario);
    text-align: center;
  }
  .slide {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--color-secundario) 0px 0px 10px;
  }
  .enunciado {
    font-size: 2rem;
    margin: 6rem;
    font-weight: 700;
    color: var(--color-secundario);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    }
    .enunciado small {
      margin-top: 2rem;
      font-size: 1rem;
      color: var(--color-primario);
      font-weight: 400;
    }
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  .itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .cardProduct {
    padding: .5rem;
    margin: .5rem;
    height: 15rem;
    width: 13rem;
    border-radius: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  hr{
    width: 11rem;
    border: 0;
    border-top: 3px solid var(--color-primario);
    border-bottom: 3px solid var(--color-primario);
    height: 0;
  }
  .imgCardProduct {
    width: 40%;
    margin: .4rem;
    border-radius: 1rem;
  }

  .nameProduct {
    height: 1rem;
    font-size: .8rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-primario);
    text-align: center;
    margin: .5rem;
  }
  .btnVerMas {
    width: 4rem;
    height: 1.5rem;
    background-color: var(--color-primario);
    border: 1px solid var(--color-secundario);
    border-radius: .5rem;
    color: #fff;
    font-size: .7rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin: .5rem;
  }
  .priceProduct {
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5rem;
  }

  .remove {
    width: 1.5rem;
    height: 1.5rem;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--color-primario);
    border-radius: 1rem;
  }

  .quantity {
    text-align: center;
    width: 5rem;
    height: 1.5rem;
    border: 1px solid var(--color-primario);
    background-color: #fff;
    color: var(--color-primario);
    font-weight: 400;
    margin: 0 0.5rem;
    border-radius: .2rem;
  }

  .add {
    width: 1.5rem;
    height: 1.5rem;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--color-primario);
    border-radius: 1rem;
  }

  .addCart {
    width: 9rem;
    height: 2rem;
    margin: .5rem;
    padding: .5rem;
    color: #fff;
    background-color: var(--color-primario);
    font-size: .6rem;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: .3rem;
    text-decoration: none;
  }
  .addCart:hover {
    background-color: var(--color-secundario);
    color: #fff;
  }
  .goCart {
    width: 10rem;
    height: 2rem;
    margin: auto;
    padding: .5rem;
    color: #fff;
    background-color: var(--color-primario);
    font-size: .6rem;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: .3rem;
    text-decoration: none;
  }

  .outOfStock {
    width: 9rem;
    height: 1.5rem;
    margin: 2rem 0;
    color: #fff;
    background-color: #bebebe;
    font-size: .6rem;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: .3rem;
  }

  .sectionDetail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem
  }

  .itemDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--color-sombreado);
  }

  .imgDetailProduct {
    width: 9rem;
    height: 9rem;
    margin: 1rem;
    border-radius: 1rem;
  }

  .nameDetailProduct {
    color: var(--color-primario);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  .descriptionDetailProduct {
    color: var(--color-primario);
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
  }

  .priceDetailProduct {
    color: var(--color-primario);
    font-size: 1.5rem;
    font-weight: 700;
  }
  .favorites {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin: 4rem;
    display: flex;
    flex-direction: column;
  }
  .favorites__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
  }
  footer {
    background-color: var(--color-secundario);
    color: #fff;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h4 {
    font-weight: 700;
    margin: 1rem;
    font-size: 10px;
  }

  .link {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 6rem;
    padding: 1rem;
  }

  .link:hover {
    color: #fff;
  }

  .rrss {
    width: 100%;
    height: 6rem;
    padding: 1rem;
  }

  .footerNav {
    width: 100%;
    height: 6rem;
    padding: 1rem;
  }

  .contacto {
    width: 100%;
    height: 6rem;
    padding: 1rem;
  }

  .footerCopy {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 9rem;
    font-weight: 400;
    font-size: .9rem;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
  }

  .fooUl {
    width: 100%;
    padding: 0 0 0 1rem;
  }

  .loading {
    animation: loading 2s infinite;
    margin: 3rem;
    width: 9rem;
    height: 9rem;
  }

  @keyframes loading {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: scale(1.1);
    }

    50% {
      transform: translateY(-50%);
    }

    75% {
      transform: scale(1.1);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@media only screen and (min-width: 425px) {
  .itemList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cardProduct {
    padding: .4rem;
    margin: .5rem;
    height: 16rem;
    width: 12rem;
    border-radius: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

@media only screen and (min-width: 576px) {
  .itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cardProduct {
    padding: .2rem;
    margin: .4rem;
    height: 16rem;
    width: 11rem;
    border-radius: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* A partir de aqui  */
@media only screen and (min-width: 768px) {

  .headerMD {
    display: none;
  }
  .headerL{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-secundario);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .navbarL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .search {
    background-color: var(--color-primario);
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem;
    width: 100%;
    height: 3rem;
    font-family: 'Raleway', sans-serif;
  }
  .innerHeader {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--color-secundario);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .rrss{
    display: flex;
    flex-direction: column;
    height: 4rem;
  }
  .cartMD{
    display: none;
  }
  .cartL{
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }
  .fooUl{
    display: flex;
    flex-direction: row;
  }
  .link {
    color: #fff;
    padding: .5rem;
    font-size: .5rem;
  }
  .itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .cardProduct {
    padding: .2rem;
    margin: .4rem;
    height: 16rem;
    width: 11rem;
    border-radius: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .sectionDetail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem
  }

  .itemDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--color-sombreado);
  }

  .imgDetailProduct {
    width: 9rem;
    height: 9rem;
    margin: 1rem;
    border-radius: 1rem;
  }

  .nameDetailProduct {
    color: var(--color-primario);
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
  }

  .descriptionDetailProduct {
    color: var(--color-primario);
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin: 1rem;
  }

  .priceDetailProduct {
    color: var(--color-primario);
    font-size: 1.5rem;
    font-weight: 700;
  }
  footer {
    background-color: var(--color-secundario);
    color: #fff;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    font-weight: 700;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 6rem;
    padding: 1rem;
    font-size: 1rem;
  }

  .link:hover {
    color: #fff;
  }

  .rrss {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .footerNav {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .contacto {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .footerCopy {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 7rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 1.5rem;
  }

  .fooUl {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  .itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .slide {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--color-secundario) 0px 0px 10px;
  }
  .cardProduct {
    padding: .2rem;
    margin: .5rem;
    height: 1auto;
    width: 11rem;
    border-radius: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
